<html>
<head>
<title>Kartu Peserta</title>
</head>
<body>
<center>
<table border="1">
<tr bgcolor="black">
<td colspan="3"><b><font color="white"><center>KARTU PESERTA</b></td>
</tr>
<tr>
<td><img src="{{data_students.foto.url}}" height="200px"></td>

<td width="200px">Nama :{{data_students.nama}}<br/>
Sekolah : {{data_students.sekolah}}</br>
Alamat  :{{data_students.alamat}}</br>
Email : {{data_users.email}}</br>
</tr>
<tr bgcolor="black">
<td colspan="3"><b><font color="white"><center>2020</center></b></td>
</tr>
</table>
</center>
</body>
</html>